table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}



tr:hover {
  background-color: #ddd;
}

.status-completed {
  font-weight: bold;
  color: #4caf50;
  border-radius: 10px;
  padding: 7px;
}

.status-in-progress {
  font-weight: bold;
  color: #2196f3;
  border-radius: 10px;
  padding: 7px;
}

.status-not-started {
  font-weight: bold;
  color: #f44336;
  border-radius: 10px;
  padding: 7px;
}
